<h1>Contact Me</h1>
<p>
  Although music is a side job, Eric is available to hire for a variety of audio
  services. Find me on social media or fill out the contact form below to let me
  know how I can help.
</p>

<ul>
  <li>Ghost producing</li>
  <li>Remixing</li>
  <li>Mix engineering</li>
  <li>Mastering</li>
  <li>ADR</li>
  <li>Software development</li>
  <li>Web design</li>
</ul>

<form
  action="https://mailthis.to/ericj@downgrooves.com"
  method="POST"
  encType="multipart/form-data"
>
  <div class="form-group">
    <label for="name">Your name</label>
    <input
      type="text"
      name="name"
      id="name"
      placeholder="Your name"
      class="form-control form-control-lg"
    />
  </div>

  <div class="form-group">
    <label for="email">Your email</label>
    <input
      type="email"
      name="_replyto"
      id="email"
      placeholder="Your email"
      class="form-control form-control-lg"
    />
  </div>

  <div class="form-group">
    <label for="message">Enter your message here</label>
    <textarea
      name="message"
      id="message"
      placeholder="Enter your message here"
      class="form-control form-control-lg"
    ></textarea>
  </div>

  <input
    type="hidden"
    name="_subject"
    value="ericrylos.com contact form submitted"
  />
  <input type="hidden" name="_after" value="http://ericrylos.com/" />
  <input type="hidden" name="_honeypot" value="" />
  <input type="hidden" name="_confirmation" value="" />
  <input type="submit" value="Send" class="btn btn-primary" />
</form>
