<footer class="footer footer-default">
  <div class="container">
    <nav class="float-left">
      <ul>
        <li>
          <a href="https://www.facebook.com/downgrooves/" target="_new"
            ><i class="fab fa-2x fa-facebook"></i
          ></a>
        </li>
        <li>
          <a href="https://www.instagram.com/weird_oscillator/" target="_new"
            ><i class="fab fa-2x fa-instagram"></i
          ></a>
        </li>
        <li>
          <a
            href="https://www.youtube.com/channel/UCBdt53d5ez75y32pzkqbTMw"
            target="_new"
            ><i class="fab fa-2x fa-youtube"></i
          ></a>
        </li>
      </ul>
    </nav>
    <div class="copyright float-right">
      &copy;
      {{ year }} Eric Rylos
    </div>
  </div>
</footer>
