.navbar-brand {
  text-transform: uppercase;
  margin-right: 60px;
}

.border-md-right {
  border-right: 1px solid silver;
}

@media (max-width: 768px) {
  .border-md-right {
    border-right: none;
  }
}
