nav {
  font-size: 100%;
}

nav.navbar {
  height: 80px;
  font-family: "Roboto Mono", monospace;
}

.navbar .navbar-nav .nav-item .nav-link {
  font-size: inherit;
}

.navbar-toggler {
  display: inline;
  border: none;
}

.navbar-toggler-icon {
  margin: 5px 0;
}

.navbar-brand {
  text-transform: uppercase;
  margin-right: 60px;
  font-family: Raleway;
  font-size: 160%;
  margin: 10px;
  font-weight: 500;
  /* letter-spacing: 1px; */
  font-stretch: condensed;
  opacity: 0.8;
}

.border-md-right {
  border-right: 1px solid silver;
}

@media (max-width: 768px) {
  .border-md-right {
    border-right: none;
  }
}
