<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Eric Rylos</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <nav
    class="navbar fixed-top navbar-light bg-dark"
    id="navbarSupportedContent"
  >
    <ul class="navbar-nav mr-auto nav-fill w-50">
      <li class="nav-item border-md-right active">
        <a class="nav-link" href="#producer">Producer</a>
      </li>
      <li class=""></li>
      <li class="nav-item border-md-right">
        <a class="nav-link" href="#remixer">Remixer</a>
      </li>
      <li class="nav-item border-md-right">
        <a class="nav-link" href="#modular">Modular</a>
      </li>
      <li class="nav-item border-md-right">
        <a class="nav-link" href="#dj">DJ</a>
      </li>
      <li class="nav-item border-md-right">
        <a class="nav-link" href="#software">Software Developer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact me</a>
      </li>
    </ul>
  </nav>
</nav>
