<h1>Remixer</h1>
<p>
  Along with his celebrated original works, Eric has remixed tracks for numerous
  artists and record labels, both inside and outside the traditional genre
  boundaries of electronic music.
</p>
<section>
  <div class="row">
    <div class="col-6 border p-3">
      <h4>As Evotone</h4>
      <p>
        <a href="https://www.beatport.com/artist/evotone/638200" target="_new"
          >https://www.beatport.com/artist/evotone/638200</a
        >
      </p>
      <ul>
        <li>
          <strong>
            Eric Rylos & R.A. Desilets - We Are the Dreamers (evotone
            mix)</strong
          >&nbsp;
          <small>Soundscapes Digital</small>
        </li>
        <li>
          <strong>
            Slighter & R.A. Desilets - A Moment of Inexplicable Clarity (evotone
            mix)</strong
          >&nbsp; <small>Soundscapes Digital</small>
        </li>
        <li>
          <strong>
            Chris Sterio & Matt Black - Jupiter Rising (evotone mix)</strong
          >&nbsp;
          <small>Soundscapes Digital</small>
        </li>
        <li>
          <strong>
            Chris Sterio & Matt Black - Jupiter Rising (evotone mix)</strong
          >&nbsp;
          <small>Soundscapes Digital</small>
        </li>
        <li>
          <strong>
            Chris Sterio & Tobias Hoppe - Better Life (evotone mix)</strong
          >&nbsp;
          <small>Soundscapes Digital</small>
        </li>
        <li>
          <strong> Robert Oleysyck - Acid Cloud (evotone mix)</strong>&nbsp;
          <small>Soundscapes Digital</small>
        </li>
        <li>
          <strong> Chris Sterio & Alex Y - Back in Time (evotone mix)</strong
          >&nbsp;
          <small>Soundscapes Digital</small>
        </li>
      </ul>
    </div>
    <div class="col-6 border p-3">
      <h4>As Downgrooves</h4>
      <p>
        <a href="https://www.beatport.com/artist/downgrooves/293260"
          >https://www.beatport.com/artist/downgrooves/293260</a
        >
      </p>
      <ul>
        <li>
          <strong>
            Thee-O & Miss Blenna - Breathe You In (downgrooves mix) </strong
          >&nbsp;
          <small>Soundscapes Digital</small>
        </li>
        <li>
          <strong> Lukas Krakowiak - Gold Fields (downgrooves mix) </strong
          >&nbsp;
          <small>Elliptical Sun Recordings</small>
        </li>
        <li>
          <strong>
            Gregory Esayan & Natalia Pevcova - Into the Night (downgrooves mix) </strong
          >&nbsp;
          <small>BOX4JOY</small>
        </li>
        <li>
          <strong> Cuprite - Athem (downgrooves mix)</strong>&nbsp;
          <small>Manmademusic Recordings</small>
        </li>
        <li>
          <strong> Novikoff - Superlove (downgrooves mix)</strong>&nbsp;
          <small>Musicon</small>
        </li>
        <li>
          <strong> Dayon - Transpic (downgrooves mix)</strong>&nbsp;
          <small>Elliptical Sun Recordings</small>
        </li>
        <li>
          <strong> Airlines - New Game (downgrooves mix)</strong>&nbsp;
          <small>OLD SQL Recordings</small>
        </li>
        <li>
          <strong>
            Mario & Eric J - Characters Part One (downgrooves mix)</strong
          >&nbsp;
          <small>Soundscapes Digital</small>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-6 border p-3">
      <h4>As part of Mario & Eric J</h4>
      <p>
        <a href="https://www.beatport.com/artist/mario-and-eric-j/5070"
          >https://www.beatport.com/artist/mario-and-eric-j/5070</a
        >
      </p>
      <ul>
        <li>
          <strong> 1Touch - Candle Melts (Mario & Eric J Remix) </strong>&nbsp;
          <small>Incepto Music</small>
        </li>
        <li>
          <strong>
            Sterio & McClellan - Crowder's Mountain (Mario & Eric J's Deep
            Trance remix) </strong
          >&nbsp;
          <small>Source of Gravity</small>
        </li>
        <li>
          <strong> Sterio & McClellan - Independence (Mario and Eric J) </strong
          >&nbsp;
          <small>Source of Gravity</small>
        </li>
        <li>
          <strong> Badhands - Ladybirds (Mario &amp; Eric J Mix) </strong>&nbsp;
          <small>Musicon</small>
        </li>

        <li>
          <strong>
            Sasha Le Monnier - Inspired By Those (Mario & Eric J Remix) </strong
          >&nbsp;
          <small>Source of Gravity</small>
        </li>
        <li>
          <strong>
            Dmitriy Stepanov & Marsel - Prizma (Mario & Eric J Mix) </strong
          >&nbsp;
          <small>Musicon</small>
        </li>
        <li>
          <strong> Mishalekseev - New Home (Mario And Eric J Mix) </strong
          >&nbsp;
          <small>7 Seas Records</small>
        </li>
      </ul>
    </div>
  </div>
</section>
