<h1>Engineer</h1>

<p>
  Part of being an experienced producer means also becoming an experienced audio
  engineer. The skills used for making music are also applicable to a variety of
  audio engineering jobs.
</p>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div>
        <h4>Composing</h4>
        <img src="../../../assets/images/moog-lp2.JPG" class="img-fluid mb-3" />
      </div>
    </div>
    <div class="col-6">
      <h4>Producing</h4>
      <img src="../../../assets/images/producing.jpg" class="img-fluid mb-3" />
    </div>
    <div class="col-6">
      <h4>Mixing</h4>
      <img src="../../../assets/images/mixing.jpg" class="img-fluid" />
    </div>
    <div class="col-6">
      <h4>Mastering</h4>
      <img
        src="../../../assets/images/mastering-equipment.jpg"
        class="img-fluid"
      />
    </div>
  </div>
</div>
