<h1>Modular</h1>
<p>
  As technology has advanced, access to modular synthesizers has been made
  available to the average musician on a budget. With modular synthesis, Eric
  can combine a deep technical knowledge with a customized musical instrument
  that allows him to explore the more experimental side of music creation. All
  of these performances are completely improvised on the spot and some of them
  are recorded and can be seen below.
</p>

<div class="row">
  <div
    class="card col-auto"
    style="width: 18rem;"
    *ngFor="let v of videos.default.items"
  >
    <img
      class="card-img-top"
      [src]="v.snippet.thumbnails.medium.url"
      alt="Card image cap"
    />
    <div class="card-body" style="position: relative;">
      <h5 class="card-title">{{ v.snippet.title.substring(0, 40) }}</h5>
      <p class="card-text" style="margin-bottom: 50px;">
        {{ v.snippet.description.substring(0, 65) }}
      </p>
      <a
        [href]="'https://youtu.be/' + v.snippet.resourceId.videoId"
        class="btn btn-primary"
        style="position: absolute; bottom: 5%;"
        target="_new"
        >Watch</a
      >
    </div>
  </div>
</div>
