<div class="row">
  <div class="col-10">
    <h1>Producer</h1>
    <p>
      Since 1995, Eric has produced numerous original tracks across a wide
      variety of genres. Eric has also had long time collaborations with DJ's
      Mario & Chris Sterio, as well as a long relationship with the Soundscapes
      Digital record label.
    </p>
    <p>
      Along with his celebrated original works, Eric has remixed tracks for
      numerous artists and record labels, both inside and outside the
      traditional genre boundaries of electronic music.
    </p>
  </div>
  <div class="col-2">
    <img
      src="../../../assets/images/eric.jpg"
      class="img-fluid pull-right img-thumbnail"
      style="width: 160px;"
    />
  </div>
</div>

<br style="clear: both;" />
<!-- <section class="mb-5">
  <div class="row">
    <div class="col-6 border p-3">
      <h4>As Evotone</h4>
      <p>
        <a href="https://www.beatport.com/artist/evotone/638200" target="_new"
          >https://www.beatport.com/artist/evotone/638200</a
        >
      </p>
      <ul>
        <li>
          <strong>Evotone - Sunglow</strong>&nbsp;<small
            >Soundscapes Digital</small
          >
        </li>
        <li>
          <strong>Evotone - Unsta</strong>&nbsp;
          <small>Soundscapes Digital</small>
        </li>
        <li>
          <strong>Evotone - Busy Buzzy Bee</strong>&nbsp;
          <small>Soundscapes Digital</small>
        </li>
        <li>
          <strong>Evotone - Extruder</strong> &nbsp;<small
            >Soundscapes Digital</small
          >
        </li>
        <li>
          <strong>Evotone - Moon Bay</strong> &nbsp;<small
            >Soundscapes Digital</small
          >
        </li>
        <li>
          <strong>Evotone - Cerlane</strong> &nbsp;<small
            >Soundscapes Digital</small
          >
        </li>
        <li>
          <strong>Evotone - Butterflies</strong>&nbsp;
          <small>Soundscapes Digital</small>
        </li>
        <li>
          <strong>Evotone - Problem Droid</strong>&nbsp;
          <small>Soundscapes Digital</small>
        </li>
        <li>
          <strong>Evotone - Lucky Mucker</strong>&nbsp;
          <small>Soundscapes Digital</small>
        </li>
        <li>
          <strong>Evotone - Lapis Lazuli</strong>&nbsp;
          <small>Soundscapes Digital</small>
        </li>
        <li>
          <strong>Evotone - Kombucha</strong>&nbsp;
          <small>Soundscapes Digital</small>
        </li>
        <li>
          <strong>Evotone - Slow Burn</strong>&nbsp;
          <small>Soundscapes Digital</small>
        </li>
        <li>
          <strong>Evotone - Untitled B2</strong>&nbsp;
          <small>Soundscapes Digital</small>
        </li>
      </ul>
    </div>
    <div class="col-6 border p-3">
      <h4>Albums As Eric Rylos</h4>
      <p>
        <a
          href="https://www.beatport.com/artist/eric-rylos/500884"
          target="_new"
          >https://www.beatport.com/artist/eric-rylos/500884</a
        >
      </p>
      <ul>
        <li>
          <strong>Eric Rylos - Fragments</strong>&nbsp;<small
            >Soundscapes Digital</small
          >
        </li>
        <li>
          <strong>Eric Rylos - Supersonic</strong>&nbsp;
          <small>Soundscapes Digital</small>
        </li>
      </ul>

      <h4>Singles As Eric Rylos</h4>
      <p>
        <a
          href="https://www.beatport.com/artist/eric-rylos/500884"
          target="_new"
          >https://www.beatport.com/artist/eric-rylos/500884</a
        >
      </p>
      <ul>
        <li>
          <strong>Eric Rylos - Homeworlds</strong>&nbsp;<small
            >Soundscapes Digital</small
          >
        </li>
        <li>
          <strong>Eric Rylos & R.A. Desilets - We Are the Dreamers</strong
          >&nbsp;<small>Soundscapes Digital</small>
        </li>
        <li>
          <strong>Eric Rylos - Waves</strong>&nbsp;<small
            >Soundscapes Digital</small
          >
        </li>
        <li>
          <strong>Eric Rylos - Olympus Mons</strong>&nbsp;<small
            >Soundscapes Digital</small
          >
        </li>
        <li>
          <strong>Eric Rylos - The Voyage Home</strong>&nbsp;<small
            >Soundscapes Digital</small
          >
        </li>
        <li>
          <strong>Eric Rylos - Retrograde of Mars</strong>&nbsp;<small
            >Soundscapes Digital</small
          >
        </li>
        <li>
          <strong>Eric Rylos - Open the Sky</strong>&nbsp;<small
            >Soundscapes Digital</small
          >
        </li>
        <li>
          <strong>Eric Rylos - Inner Sphere</strong>&nbsp;<small
            >Soundscapes Digital</small
          >
        </li>
        <li>
          <strong>Eric Rylos - Spacewalker</strong>&nbsp;<small
            >Soundscapes Digital</small
          >
        </li>
        <li>
          <strong>Eric Rylos - Lunar Cycle</strong>&nbsp;<small
            >Soundscapes Digital</small
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-6 border p-3">
      <h4>As Downgrooves</h4>
      <p>
        <a href="https://www.beatport.com/artist/downgrooves/293260"
          >https://www.beatport.com/artist/downgrooves/293260</a
        >
      </p>
      <ul>
        <li>
          <strong> Downgrooves - Traffic</strong>&nbsp;
          <small>Mistique Music</small>
        </li>
        <li>
          <strong>Downgrooves - Fracture</strong>&nbsp;
          <small>Mistique Music</small>
        </li>
        <li>
          <strong>Downgrooves - Hyacinth</strong>&nbsp;
          <small>Soundscapes Digital</small>
        </li>
        <li>
          <strong>Downgrooves - Seven Nights</strong>&nbsp;
          <small>Soundscapes Digital</small>
        </li>
        <li>
          <strong>Downgrooves - Tidewaters</strong>&nbsp;
          <small>Soundscapes Digital</small>
        </li>

        <li>
          <strong>Downgrooves - Shades of Grey</strong>&nbsp;
          <small>Soundscapes Digital</small>
        </li>
        <li>
          <strong>Downgrooves - Photosphere</strong>&nbsp;
          <small>Mistique Music</small>
        </li>
        <li>
          <strong>Downgrooves - After Dark</strong>&nbsp;
          <small>Soundscapes Digital</small>
        </li>
        <li>
          <strong>Downgrooves - Puedo Sentirlo</strong>&nbsp;
          <small>Elliptical Sub Recordings</small>
        </li>

        <li>
          <strong>Downgrooves - Masks</strong>&nbsp;
          <small>Soundscapes Digital</small>
        </li>
        <li>
          <strong>Downgrooves - Night Walker</strong>&nbsp;
          <small>Soundscapes Digital</small>
        </li>

        <li>
          <strong> Downgrooves - Morning Never Comes</strong>&nbsp;
          <small>Soundscapes Digital</small>
        </li>
        <li>
          <strong> Downgrooves - Foundation</strong>&nbsp;
          <small>Soundscapes Digital</small>
        </li>
        <li>
          <strong> Downgrooves - Inner Light</strong>&nbsp;
          <small>Soundscapes Digital</small>
        </li>
        <li>
          <strong> Downgrooves - After Dark</strong>&nbsp;
          <small>Soundscapes Digital</small>
        </li>
      </ul>
      <h4>with Chris Sterio</h4>
      <p>
        <a href="https://www.beatport.com/artist/downgrooves/293260"
          >https://www.beatport.com/artist/downgrooves/293260</a
        >
      </p>
      <ul>
        <li>
          <strong> Chris Sterio & Downgrooves - To the Stars</strong>&nbsp;
          <small>Soundscapes Digital</small>
        </li>
        <li>
          <strong>Chris Sterio & Downgrooves - One World</strong>&nbsp;
          <small>Soundscapes Digital</small>
        </li>
        <li>
          <strong> Chris Sterio & Downgrooves - Passage of Time</strong>&nbsp;
          <small>Soundscapes Digital</small>
        </li>
        <li>
          <strong> Downgrooves & Chris Sterio - Zen Moments</strong>&nbsp;
          <small>Bonzai Progressive</small>
        </li>
        <li>
          <strong> Chris Sterio & Downgrooves - The Path</strong>&nbsp;
          <small>Pangea Recordings</small>
        </li>
        <li>
          <strong> Chris Sterio & Downgrooves - Invent the Future</strong>&nbsp;
          <small>Estribo Records</small>
        </li>
        <li>
          <strong> Downgrooves & Chris Sterio - Sublimation</strong>&nbsp;
          <small>Mistique Music</small>
        </li>
        <li>
          <strong> Downgrooves & Chris Sterio - Better Day</strong>&nbsp;
          <small>Emotional Content Recordings</small>
        </li>

        <li>
          <strong> Chris Sterio & Downgrooves - Another Dimension</strong>&nbsp;
          <small>Vesta Records</small>
        </li>
      </ul>
    </div>
    <div class="col-6 border p-3">
      <h4>As part of Mario & Eric J</h4>
      <p>
        <a href="https://www.beatport.com/artist/mario-and-eric-j/5070"
          >https://www.beatport.com/artist/mario-and-eric-j/5070</a
        >
      </p>
      <ul>
        <li>
          <strong>Mario & Eric J - Land of the Midnight Sun</strong>&nbsp;
          <small>Incepto Records</small>
        </li>
        <li>
          <strong>Mario & Eric J - Greenhouse</strong>&nbsp;
          <small>Gravitation</small>
        </li>
        <li>
          <strong>Mario & Eric J - Tristessa</strong>&nbsp;
          <small>Source of Gravity Records</small>
        </li>
        <li>
          <strong>Mario & Eric J & Avonlea Montague - End of Me</strong>&nbsp;
          <small>Source of Gravity Records</small>
        </li>
        <li>
          <strong>Mario & Eric J - The Key</strong>&nbsp;
          <small>Gravitation</small>
        </li>
        <li>
          <strong>Mario & Eric J - Strange Feeling</strong>&nbsp;
          <small>Source of Gravity Records</small>
        </li>
        <li>
          <strong>Mario & Eric J - Touche</strong>&nbsp;
          <small>Source of Gravity Records</small>
        </li>
        <li>
          <strong>Mario & Eric J - Retrospect</strong>&nbsp;
          <small>Source of Gravity Records</small>
        </li>
        <li>
          <strong>Mario & Eric J - Messe Ecouter</strong>&nbsp;
          <small>Source of Gravity Records</small>
        </li>
        <li>
          <strong>Mario & Eric J - Pebble Beach</strong>&nbsp;
          <small>Musicon</small>
        </li>
        <li>
          <strong>Mario & Eric J - Sounds Like</strong>&nbsp;
          <small>Source of Gravity Records</small>
        </li>
        <li>
          <strong>Mario & Eric J - Paradise Blue</strong>&nbsp;
          <small>Incepto Records</small>
        </li>
        <li>
          <strong>Mario & Eric J - Delaware Bay</strong>&nbsp;
          <small>Incepto Records</small>
        </li>
        <li>
          <strong>Mario & Eric J - Carolina Skies</strong>&nbsp;
          <small>Incepto Records</small>
        </li>
        <li>
          <strong>Mario & Eric J - Next Stop</strong>&nbsp;
          <small>Source of Gravity Records</small>
        </li>
        <li>
          <strong>Mario & Eric J - Directive</strong>&nbsp;
          <small>Source of Gravity Records</small>
        </li>
        <li>
          <strong>Mario & Eric J - Characters Part One</strong>&nbsp;
          <small>Source of Gravity Records</small>
        </li>
        <li>
          <strong>Mario & Eric J - Characters Part Two</strong>&nbsp;
          <small>Source of Gravity Records</small>
        </li>
        <li>
          <strong>Mario & Eric J - Ocean Park</strong>&nbsp;
          <small>Gravitation Records</small>
        </li>
      </ul>
    </div>
  </div>
</section> -->

<section>
  <h3>Collaborators</h3>
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="d-flex align-items-center justify-content-between">
          <div class="col-8 p-3">
            <div class="mr-4 float-left">
              <i class="icon-windows s-36"></i>
            </div>

            <h6>
              Mario P.
            </h6>

            <p>
              Mario has collaborated with Eric for 30 years. Starting with a
              chance meeting in school, the two have been working together on
              musical projects ever since. The two started aas DJ partners and
              eventually transitioned into forming the electronic duo Mario &
              Eric J. The Duo prodcued Progressive and Trance music for nearly
              15 years before switching to a more laid back, house-influenced
              sound. The reimagined duo adopted the name Downgrooves, under
              which they still release music today.
            </p>
            <a href="">
              <small>50 Tracks</small>
            </a>
          </div>
          <div class="col-4">
            <p class="float-right mr-auto">
              <img
                src="/assets/images/mario.jpg"
                class="img-thumbnail"
                style="width: 140px;"
              />
            </p>
          </div>
          <a href="#" class="ml-auto"><i class="icon-link"></i></a>
          <div></div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card">
        <div class="d-flex align-items-center justify-content-between">
          <div class="col-8 p-3">
            <div class="mr-4 float-left">
              <i class="icon-windows s-36"></i>
            </div>
            <h6>
              Chris Sterio
            </h6>

            <p>
              Chris has collaborated with both Mario & Eric J for nearly 20
              years. After signing the duo's first release to his label Source
              of Gravity. The pair released 2 E.P.s and a compilation
              contribution on Source of Gravity Reords and the sub-label
              Gravitation. Soon, Source of Gravity and Gravitation merged and
              were reborn under a new label, Soundscaps Digital, specializing
              the digital only releases. The label continues to put out music
              today, and has released tracks from all aliases.
            </p>
            <a href="">
              <small>50 Tracks</small>
            </a>
          </div>
          <div class="col-4">
            <p class="float-right mr-auto">
              <img
                src="/assets/images/Chris.jpg"
                class="img-thumbnail"
                style="width: 140px;"
              />
            </p>
          </div>
          <a href="#" class="ml-auto"><i class="icon-link"></i></a>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <h3 class="mb-5">Discography</h3>

  <!-- <ngb-tabset>
    <ngb-tab title="Basic Setting">
      <ng-template ngbTabContent>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle>SMS Setting</ng-template>
      <ng-template ngbTabContent>
        <p>This is SMS Setting</p>
      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle>Email Setting</ng-template>
      <ng-template ngbTabContent>
        <p>This is Email Setting</p>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Disabled" [disabled]="true">
      <ng-template ngbTabContent>
        <p>This is Disabled</p>
      </ng-template>
    </ngb-tab>
  </ngb-tabset> -->
  <div class="container">
    <ul class="nav nav-pills nav-justified mb-5" id="nav-tab" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link active"
          id="nav-downgrooves-tab"
          data-toggle="tab"
          href="#nav-downgrooves"
          role="tab"
          aria-controls="nav-downgrooves"
          aria-selected="true"
          >as part of Downgrooves</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="nav-eric-rylos-tab"
          data-toggle="tab"
          href="#nav-eric-rylos"
          role="tab"
          aria-controls="nav-eric-rylos"
          aria-selected="false"
          >as Eric Rylos</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="nav-evotone-tab"
          data-toggle="tab"
          href="#nav-evotone"
          role="tab"
          aria-controls="nav-evotone"
          aria-selected="false"
          >as Evotone</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="nav-mej-tab"
          data-toggle="tab"
          href="#nav-mej"
          role="tab"
          aria-controls="nav-mej"
          aria-selected="false"
          >as part of Mario & Eric J</a
        >
      </li>
    </ul>

    <div class="tab-content" id="nav-tabContent">
      <div
        class="tab-pane fade show active"
        id="nav-downgrooves"
        role="tabpanel"
        aria-labelledby="nav-downgrooves-tab"
      >
        <app-track-list
          [data]="downgrooves"
          [name]="'downgrooves'"
        ></app-track-list>
      </div>
      <div
        class="tab-pane fade"
        id="nav-eric-rylos"
        role="tabpanel"
        aria-labelledby="nav-eric-rylos-tab"
      >
        <app-track-list
          [data]="ericRylos"
          [name]="'eric-rylos'"
        ></app-track-list>
      </div>
      <div
        class="tab-pane fade"
        id="nav-evotone"
        role="tabpanel"
        aria-labelledby="nav-evotone-tab"
      >
        <app-track-list [data]="evotone" [name]="'evotone'"></app-track-list>
      </div>
      <div
        class="tab-pane fade"
        id="nav-mej"
        role="tabpanel"
        aria-labelledby="nav-mej-tab"
      >
        <app-track-list
          [data]="mej"
          [name]="'mario-and-eric-j'"
        ></app-track-list>
      </div>
    </div>
  </div>
</section>
