<h1>Software</h1>

<p>
  Eric is also an experienced software develper with over 25 years experience in
  web and application development. It's also his day job. Check out the
  highlights below and go to
  <a href="http://www.ericdoesweb.com">ericdoesweb.com</a> for a full CV.
</p>

<blockquote class="blockquote">
  "When I started, Amazon was a single page to find rare books, Google was a
  college project called PageRank and the dominant web browser of the time was
  Netscape Navigator. I've seen big computer companies come and go, Internet
  giants rise and fall. I have been a part of the web since it all started. I
  believe this gives me a unique perspective, wisdom and insight."
</blockquote>

<h2 class="mb-5">Professional Summary</h2>
<div class="row ml-1">
  <div class="pb-4 col-6" *ngFor="let s of summary">
    <div class="media">
      <div class="mr-4" style="width: 32px;">
        <i [class]="s.icon"></i>
      </div>
      <div class="media-body">
        <h5 class="mt-0">{{ s.item }}</h5>
        {{ s.description }}
      </div>
      <p class="border-bottom border-secondary"></p>
    </div>
  </div>
</div>

<p>
  Visit <a href="http://www.ericdoesweb.com">ericdoesweb.com</a> for a full CV.
</p>
